.textInputQuestionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}

.textInputQuestionsContainer > :first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.textInputQuestionsContainer > :nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.textInputQuestionsContainer > :nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}

.textInputQuestionsContainer > :nth-child(4) {
  grid-area: 3 / 1 / 4 / 3;
}

.dropdownQuestionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}

.dropdownQuestionsContainer > :first-child {
  grid-area: 1 / 1 / 2 / 3;
}

.dropdownQuestionsContainer > :nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.dropdownQuestionsContainer > :nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}

.dropdownQuestionsContainer > :nth-child(4) {
  grid-area: 3 / 2 / 4 / 3;
}
