.boulder {
  top: -1.3%;
}

@media screen and (min-width: 420px) {
  .boulder {
    top: -1.6%;
  }
}

@media screen and (min-width: 1080px) {
  .boulder {
    top: -4%;
  }
}

.mascot {
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/**

if change this section please also change HomeChallenge.module.css

**/

.sea {
  height: 3200px;
}

@media screen and (min-width: 768px) {
  .sea {
    height: 2500px;
  }
}

@media screen and (min-width: 1081px) {
  .sea {
    height: 2000px;
  }
}
