.container {
  background: #50d5de;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(64, 183, 186, 0.3), rgba(76, 208, 215, 0.3)),
    url('/assets/middle_wave.png');
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: animatedBackground 30s linear infinite;
  background-position: 0 0, 0 0;
  opacity: 0.5;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 0 100%, 100% 0;
  }
}

.content {
  position: relative;
  z-index: 3;
}

.mascot {
  animation: wave 4s ease-in-out infinite;
}

.topLilypad {
  animation: wave-lilypad 4s ease-in-out infinite;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@keyframes wave-lilypad {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* Duck Animation: Move left to right endlessly */
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-280%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(280%); /* Move completely off-screen to the right */
  }
}

.duckAnimation {
  position: relative;
  /* Extended duration to 20s for smoother movement */
  animation: moveLeftToRight 30s linear infinite;
}

.boulderLeft,
.boulderRight {
  position: absolute;
  width: 80vh;
  height: auto;
  top: -13.5vh;
  z-index: 2;
}

.boulderLeft {
  left: 0;
}

.boulderRight {
  right: 0;
}
