@media (max-width: 600px) {
  .statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customShapeOne {
    width: 50% !important;
    height: 85px !important;
    left: 45% !important;
  }
  .customShapeTwo {
    width: 90% !important;
    top: 110px !important;
    height: 110px !important;
    left: 5% !important;
  }
  .customShapeThree {
    width: 90% !important;
    top: 235px !important;
    height: 275px !important;
    left: 5% !important;
  }
  .customShapeFour {
    width: 40% !important;
    height: 85px !important;
    left: 5% !important;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  width: 100vw;
  min-height: 120dvh;
  overflow: hidden;
  padding-top: 2vh;
}

.header {
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  font-size: calc(24px + 2vw);
  color: #05149c;
  padding: 1vh 0;
}

.description {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 90%;
  margin: 1vh 0;
}

.statsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2vh;
}

.statsItem {
  width: 45%;
  margin: 2% 0;
  position: relative;
}
