/* TODO: enable this after finalizing UI */
.container {
  padding-top: 20rem;
}

@media screen and (min-width: 960px) {
  .container {
    padding-top: 35rem;
  }
}

.boulderLeft {
  position: absolute;
  top: -125px;
  left: 0px;
  z-index: 3;
  width: 700px;
}

.boulderRight {
  position: absolute;
  top: -125px;
  right: 0px;
  z-index: 3;
  width: 700px;
}

@media (max-width: 768px) {
  .boulderLeft {
    top: -80px;
  }

  .boulderRight {
    top: -70px;
  }
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.wave-container {
  position: relative;
  bottom: -20px;
  margin-top: 10rem;
  z-index: 2;
}
.wave-animation {
  animation: waveAnimation 4s ease-in-out infinite;
}