  /*For Fish in HomeAboutText*/
  @media (max-width: 1024px) {
    .fish:first-child {
      top: -10vw !important;
      right: 5vw !important;
    }
    .fish:nth-child(2) {
      bottom: 0vw !important;
      left: 5vw !important;
    }
  }
  
  @media (max-width: 768px) {
    .fish:first-child {
      top: -25vw !important;
      right: 0vw !important;
    }
    .fish:nth-child(2) {
      bottom: 0vw !important;
      left: 0vw !important;
    }
  }
  
  @media (max-width: 480px) {
    .fish:first-child {
      top: -25vw !important;
      right: 0vw !important;
    }
    .fish:nth-child(2) {
      bottom: 0vw !important;
      left: 0vw !important;
    }
  }

 
  
  